{% extends "tutorial_layout.html" %}
{% block code %}
// Welcome to grids
// Grids is a fun way to 
// learn some of the basics of programming
// We are going to be using the javascript
// programming language.
// Javascript can be found on almost
// every major website today. 
// Its a really exciting language

// If you have never programmed
// before, programming consists 
// of typing instructions into this
// textbox, then the computer 
// will interpret those instructions
// to draw something cool on 
// the grid that you want it to.

// The first thing you should 
// know about javascript is that 
// any line that starts with // 
// is a comment and will be ignored 
// by the computer. This is useful 
// to write notes to yourself.

// if a line doesn't start with // 
// it will be an expression that javascript
// can understand. Expressions generally end 
// with a semicolon in javascript.

// The most basic expression that will draw
// something is....

draw(0,0);

// This will draw a black dot in the top left 
// of the grid. draw is a command that we 
// built specifically for grids

// the draw command also accepts a color

draw(1,1,'pink');

// This draws a pink square

// Feel free to edit the code in these tutorials 
// to see how changes create changes in the grid

{% endblock %}