{% extends "tutorial_layout.html" %}
{% block code %}
// Variables are a very important part 
// of programming. A variable can hold a value.

x = 3;

// now the variable named x holds the value 3
// variables can have names consisting of letters
// and underscores and numbers ( but cannot 
// start with a number )

my_variable = "hello world";

y = 3;

// You can use variables in the draw 
// command to draw

draw(x,y)

// you can then modify a variable like so

y = y + 5;

draw(x,y);

// See the difference?

{% endblock %}